In [1]:
#從CSV檔案新增至DB

In [1]:
#http://www.runoob.com/python3/python3-mysql.html
#此 Cell 一定要執行成功，且設定自己的學號以及密碼，之後才能work!
import pymysql as mysql #載入 pymysql
import pandas as pd #載入 pandas
#pUser = '#你的帳號#';pPasswd='#密碼#';pDb= '#資料庫名稱#'
pUser = 'root';pPasswd='1234';pDb='py_106_tmu' #設定對應變數帳號密碼
pHost ='localhost'
#資料庫連線
def DB_connect():
    return mysql.connect(host='127.0.0.1',user=pUser,passwd=pPasswd,db=pDb,charset='utf8',use_unicode=True)

In [6]:
sql ='SELECT * FROM university_105'
cols = ['學年度','學校類別','設立別','學校代碼','學校名稱','日間','學制別','科系代碼','科系名稱','學生總計','新生註冊率','一年級人數','縣市名稱','體系別']
aa = getDataFrame(sql,cols)

TypeError: getDataFrame() missing 1 required positional argument: 'pCols'

In [4]:
lastError = ''
def getDataFrame(self,pSQL,pCols):
        result = pd.DataFrame(columns=pCols)
        #import mysql.connector
        ##連接資料庫
        db = None
        try:
            db = DB_connect()
            cursor = db.cursor()
            # 执行SQL语句
            cursor.execute(pSQL)
            # 获取所有记录列表
            results = cursor.fetchall()
            for row in results:
                pList =[];
                for i in range(len(pCols)):
                    pList.append(row[i])
                result.loc[len(result)] = pList
            cursor.close()
        except:
            lastError = '資料庫連線失敗!'
        # 关闭数据库连接
        if db != None:
            db.close()
        return result

In [2]:
####補充：連接DB的程式碼####
#import mysql.connector
#db = mysql.connect(**config)
##連接資料庫
db = DB_connect()
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
print('查看資料庫版本及也可以檢查連線是否正常')
print ("Database version : %s " % data)
# 关闭数据库连接
db.close()

查看資料庫版本及也可以檢查連線是否正常
Database version : 5.7.20-log

In [3]:
excel_file = "105ENROLL.xlsx"
#載入excel檔案
_105ENROLL_0 = pd.read_excel(excel_file,sheetname=0)#105一般公立
_105ENROLL_1 = pd.read_excel(excel_file,sheetname=1)#105一般私立
_105ENROLL_2 = pd.read_excel(excel_file,sheetname=2)#105技職公立
_105ENROLL_3 = pd.read_excel(excel_file,sheetname=3)#105技職私立
#將資料匯入SQL
for j in [_105ENROLL_0,_105ENROLL_1,_105ENROLL_2,_105ENROLL_3]:
    for i in j.values:
        insert_DB([str(x) for x in i.tolist()])

In [185]:
#新增資料
def insert_DB(df):
    db = DB_connect()
    # 使用 cursor() 方法创建一个游标对象 cursor
    cursor = db.cursor()
    insert_item = tuple(df)
    # 使用预处理语句创建表
    sql = "INSERT INTO `university_105` (`academic_year`, `school_class`, `type`,  \
          `school_id`, `school_name`, `day_type`, `student_type`, `department_id`, \
          `department_name`, `student_number`, `student_rr`, `first_grade_number`, \
          `County_name`, `class_type`) VALUES " + str( tuple(df)) 
    #print(sql)
    try:
       # 执行sql语句
       cursor.execute(sql)
       # 提交到数据库执行
       db.commit()
    except Exception as ex:
        print(ex)
        # 如果发生错误则回滚
        db.rollback()
    # 关闭数据库连接
    db.close()